RewriteEngine On

# Restriction des adresses IP
# Ordre de priorité des instructions : refuser puis autoriser
Order Deny,Allow
# On n’autorise personne à accéder au site…
Deny from all
# …Sauf l’adresse IP x.x.x.x
#Allow from 78.242.68.89
Allow from all

RewriteCond %{HTTPS} off
RewriteRule (.*) https://mssante.appliops.fr/$1 [R=301,L]
RewriteRule ^(app|dict|ns|tmp)\/|\.ini$ - [R=404]

RewriteCond %{THE_REQUEST} !https://mssante.appliops.fr/import_one.php

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

php_flag  display_errors        on
php_value error_reporting       2039





